@using CarInsuranceApplication.ViewModels
@model List<ApplicationVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Applications</h5>
        </div>
        <div class="card-body">
            @foreach (var application in Model)
            {
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    //<input type="hidden" name="Id" value="@application.Id" />
                    <div class="row mb-3">
                        <div class="col-3">
                            @application.FirstName
                        </div>
                        <div class="col-3">
                            @application.LastName
                        </div>
                        <div class="col-4">
                            @application.EmailAddress
                        </div>
                        <div class="col-2">
                            @application.Quote 
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>